# **THEORY QUESTIONS **

Qn 1- What are data structures, and why are they important ?

Ans-
# Data Structures

 Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.

 # Importance of Data Structure
Choosing the right data structure


significantly impacts the efficiency and performance of your program.

Well-chosen data structures can:
Simplify data manipulation.

Optimize searching and sorting operations

Conserve memory usage

Qn 2-  Explain the difference between mutable and immutable data types with examples?

Ans -
# difference between mutable and immutable data types

Mutable data type can be modifed after creation (like - lits, sets).

immutable data type cann't modified after creation(like tuples ).

In [ ]:
# example of mutable data type

# cresting a list
my_list = [1,2,3,4,]
# trying to modify the list
print('previous list',my_list)
my_list.append(8)
print('modified list',my_list)

previous list [1, 2, 3, 4]
modified list [1, 2, 3, 4, 8]

In [ ]:
# example of immutable data type

# creating a tuple

my_tuple = (1,2,3,4)
type(my_tuple)

 # trying to modify tuple
my_tuple[0] = 10

# modifying a tuple will return an error

TypeError: 'tuple' object does not support item assignment

Qn 3- P What are the main differences between lists and tuples in Python?

Ans - main differences between lists and tuples is that - lists are mutable and tuples are immutable.

Qn 4- Describe how dictionaries store data.

Ans- Data is Stored in a Dictionary as Key-Value Pairs.

A dictionary consists of keys and values where each key maps to a specific value.

Qn 5- Why might you use a set instead of a list in Python?

Ans- use a set instead of a list in Python because of Uniqueness (Avoid Duplicates). Sets automatically remove duplicates, whereas lists allow them.

Qn 6-What is a string in Python, and how is it different from a list?

Ans- A string in Python is an immutable sequence of characters, represented using single (') or double ("), quotes It is used to store and manipulate text data.

# Differences
1. Strings are Immutable and Lists are Mutable.
2. Lists Can Store Different Data Types but Strings Can't

Qn 7- How do tuples ensure data integrity in Python?

Ans- Tuples in Python ensure data integrity primarily through immutability. Once a tuple is created, its elements cannot be modified, preventing accidental changes to critical data.

Qn 8- What is a hash table, and how does it relate to dictionaries in Python?

Ans- A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index (or hash) for each key, allowing for fast lookups, insertions, and deletions. The main advantage of a hash table is that it provides an average O(1) time complexity for these operations.

# Relation of Hash Tables and Python Dictionaries -

* Python dictionaries use a hash table internally, allowing O(1) average-time complexity for key-based operations.

* Keys in a dictionary must be hashable (i.e., have a fixed hash value). Immutable types like strings, numbers, and tuples (with hashable elements) can be used as dictionary keys.

* Python uses open addressing with probing (rather than chaining) to resolve collisions.

Qn 9-  Can lists contain different data types in Python?

Ans- Yes, In Python lists can contain elements of different data types.

Qn 10-  Explain why strings are immutable in Python.

Ans- In Python, strings are immutable because once a string is created it cannot be changed. If you try to modify a string, Python creates a new string instead of modifying the existing one.

Qn 11- What advantages do dictionaries offer over lists for certain tasks?

Ans-
# Advantages of Dictionaries Over Lists in Python

1-
* Dictionaries: Use a hash table, enabling O(1) average-time complexity for lookups.

* Lists: Require O(n) time in the worst case, since they perform a linear search.

2-
* Lists store elements sequentially but do not provide named keys.

* Dictionaries provide key-value pairs, making data more descriptive.

3-
* In lists, you must remember index positions, which can be error-prone.

* Dictionaries allow direct key-based access, removing the need for indexing.

Qn 12- Describe a scenario where using a tuple would be preferable over a list.

Ans- A tuple is preferable over a list when you need fixed, immutable data that should not be accidentally modified.

Scenario: Storing employee's Mobile number or email id -

In [ ]:
# exaple of answer 12

Mo_no=(1234567890,) #mobile number and employee id should not be changed
emp_id=(987654321,) # that's why tuple is preferable over list s

print("mobile number-", Mo_no)

print("employee id-", emp_id)

mobile number- (1234567890,)
employee id- (987654321,)

Qn 13- How do sets handle duplicate values in Python?

Ans- In Python, sets automatically eliminate duplicate values because they are unordered collections of unique elements. When you add duplicate values to a set, Python only keeps one instance of each unique element.

Qn 14- How does the “in” keyword work differently for lists and dictionaries?

Ans- The 'in' keyword is used to check membership in both lists and dictionaries, but it behaves differently for each due to their underlying implementations.

*  When checking membership in a list, Python searches each element one by one.

* For dictionaries, the 'in' keyword only checks for keys, not values.s

Qn 15- Can you modify the elements of a tuple? Explain why or why not?

Ans- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed because-

* tuples are immutable, Python can optimize their memory storage.

 Immutable tuples can be used as keys in dictionaries or elements in sets.

Qn 16- What is a nested dictionary, and give an example of its use case?

Ans- A nested dictionary is a dictionary where values are also dictionaries. It allows you to store structured data in a key-value format.

In [ ]:
# example of answer 16

# use case - storing employee details

employees_details = {
    "aman": {
        "age": 24,
        "post": "sales officer",
        "emp_id": 123456

    },

    "sunil": {
        "age": 25,
        "post": "HR",
        "emp_id": 654321
     }



}

print(employees_details)
print(employees_details["aman"])
print(employees_details["aman"]["post"])


print(employees_details["sunil"]["post"])

{'aman': {'age': 24, 'post': 'sales officer', 'emp_id': 123456}, 'sunil': {'age': 25, 'post': 'HR', 'emp_id': 654321}}
{'age': 24, 'post': 'sales officer', 'emp_id': 123456}
sales officer
HR

Qn 17- Describe the time complexity of accessing elements in a dictionary.

Ans- In Python, accessing elements in a dictionary is extremely fast because dictionaries use a hash table for lookups.

* Python dictionaries use hashing to store keys.
* When accessing an element, Python calculates the hash of the key and directly retrieves the value.
* Time Complexity: O(1) on average.

Qn 18-  In what situations are lists preferred over dictionaries?

Ans- While dictionaries are great for key-value lookups, lists are preferred in certain situations where order, indexing, and iteration are key factors.

*  When Order Matters, Dictionaries  maintain order but lists are more natural for sequential data.

* When You Need Index-Based Access Lists allow direct indexing instead of Dictionaries use keys.

Qn 19- Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans- Before Python 3.7: Dictionaries were truly unordered the order of items could change unexpectedly.

Python 3.7 and later: Insertion order is preserved, but dictionaries are still optimized for fast lookups, not sequential access.

* Lookup is Based on Keys, Not Order
* No Direct Index-Based Access

Qn 20- Explain the difference between a list and a dictionary in terms of data retrieval.

Ans-
# the difference between a list and a dictionary in terms of data retrieval

# Lists-

* Stored as an ordered sequence
* Accessed by index (position-based)
* when Accessing an Element O(1) (if using an index)
* when Searching for an Item O(n) (linear search)

# Dictionary

* Stored as key-value pairs in a hash table

* Accessed by key (hash-based lookup)

* when Accessing an Element O(1) (average case)
* when Searching for an Item O(1) (hash lookup)

## Practical Questions

Qn 1- Write a code to create a string with your name and print it.

In [ ]:
# Answer

my_name ="Aman Mishra"

print(my_name)

Aman Mishra

Qn 2- Write a code to find the length of the string "Hello World"?

In [ ]:
# Answer

string = "Hello World"
length = len(string)
print("Length of the string-", length)

Length of the string- 11

Qn 3- Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
# Answer

string = "Python Programming"
sliced = string[:3]
print("Sliced String-", sliced)

Sliced String- Pyt

Qn 4- Write a code to convert the string "hello" to uppercase.

In [ ]:
# Answer

string = "hello"
uppercase = string.upper()
print("Uppercase:", uppercase)

Uppercase: HELLO

Qn 5- Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Answer

string = "I like apple"
new_string = string.replace("apple", "orange")
print("Updated String:", new_string)

Updated String: I like orange

Qn 6- Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
# Answer

numbers = [1, 2, 3, 4, 5]  # Creating a list with numbers 1 to 5
print("List:", numbers)

List: [1, 2, 3, 4, 5]

Qn 7- P Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
# Answer

list = [1, 2, 3, 4]
list.append(10)
print("Updated List:", list)

Updated List: [1, 2, 3, 4, 10]

Qn 8- Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1, 2, 3, 4, 5]
list.remove(3)
print("Updated List:", list)

Updated List: [1, 2, 4, 5]

Qn 9- Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
# Answer

list = ['a', 'b', 'c', 'd']
list[1]

'b'

Qn 10- Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
# Answer

list = [10, 20, 30, 40, 50]
list.reverse()
print("Reversed List:", list)

Reversed List: [50, 40, 30, 20, 10]

Qn 11- Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
# Answer

tuple = (100, 200, 300)
print("Tuple:", tuple)

type(tuple)

Tuple: (100, 200, 300)

tuple

Qn 12- Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
# Answer

tuple = ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

Qn 13- Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Answer

tuple = (10, 20, 5, 15)
minimum_number  = min(tuple)
print("Minimum Number:", minimum_number)

Minimum Number: 5

Qn 14-  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')  # Finds the index of "cat"
print("Index of 'cat':", index)

Index of 'cat': 1

 Qn 15- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
# Answer

fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("'kiwi' is in the tuple.")
else:
    print("'kiwi' is not in the tuple.")

'kiwi' is not in the tuple.

Qn 16- Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [2]:
# Answer

my_set = {'a', 'b', 'c'}
print("Set:", my_set)

Set: {'b', 'a', 'c'}

Qn 17- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [3]:
# Answer

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared Set:", my_set)

Cleared Set: set()

Qn 18- . Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [4]:
# Answer

my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Updated Set:", my_set)

Updated Set: {1, 2, 3}

Qn 19-  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [5]:
# Answer

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

Qn 20-  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [8]:
# Answer

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

Qn 21-  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [11]:
# Answer

dict = {
    "name": "Aman",
    "age": 24,
    "city": "Bareilly"
}

print("Dictionary-", dict)

Dictionary- {'name': 'Aman', 'age': 24, 'city': 'Bareilly'}

Qn 22-  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [12]:
# Answer

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'

print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

Qn 23- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [13]:
# Answer

person = {'name': 'Alice', 'age': 30}
name_value = person['name']

print("Value of 'name':", name_value)

Value of 'name': Alice

Qn 24-  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [14]:
# Answer

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']  # Removing the key

print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'Bob', 'city': 'New York'}

Qn 25-  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [15]:
# Answer

person = {'name': 'Alice', 'city': 'Paris'}

# Checking
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

Qn 26-  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [18]:
# Answe

my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')


my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

Qn 27- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [19]:
# Answer

import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sorting the list in ascending order
random_numbers.sort()

print("Sorted List of Random Numbers:", random_numbers)

Sorted List of Random Numbers: [2, 13, 48, 88, 95]

Qn 28-  Write a code to create a list with strings and print the element at the third index.

In [21]:
# Answer

my_list = ["apple", "banana", "cherry", "orange", "grape"]

print("Element at index 3:", my_list[3])

Element at index 3: orange

Qn 29-  Write a code to combine two dictionaries into one and print the result.

In [22]:
# Answer

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}  # Combining dictionaries

print("Combined Dictionary:", combined_dict)
#

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Qn 30- . Write a code to convert a list of strings into a set.

In [ ]:
#  Answer

my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
my_set = set(my_list)

print("Set:", my_set)